{% extends "shop/base.html" %}
{% block content %}

    {% for product in products %}
        <article class="media content-section ml-5">
            <div class="media-body">
            <br>
            <h3>{{ product.name }}</h3>
            <br>
            <p class="article-content">Preço: R${{ product.cost }}</p>
            <br>
            <div class="text-center">
                <button class="btn btn-outline-info" type="submit">Adicionar ao pedido</button>
            </div>
            <br>
            </div>
        </article>
    {% endfor %}

{% endblock content %}